@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

header, footer {
    background-color: #1F2937;
    color: #DAA520;
    display: flex;
    align-items: center;
}

header {
    position: relative;
    height: 100px;
    padding: 5px;

    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.header-logo {
    font-size: 25px;
    font-weight: bold;
}

.header-links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links ul li {
    font-size: 18px;
    margin-right: 20px;
}

.content{
    display: flex;
    flex-direction: column;
}

.hero-tile{
    height: 400px;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 85px;
}

.left-hero-ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    text-align: left;
    padding-bottom: 20px;
}

.hero-text {
    color: #F9FAF8;
    text-align: left;
    font-size: 18px;
    padding-bottom: 20px;
}

button{
    background-color: #DAA520;
    color: #1F2937;
    font-size: large;
    font-weight: bold;
    border-style: none;
    border-radius: 7px;
    padding: 7px 16px;
    margin-right: auto;
}

.hero-tile img {
    width: 600px;
    border-radius: 16px;
}

.games{
    height: 400px;
    flex: 1;
}

.title-top {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
}

.top-games {
    padding: 20px;
    margin: 0px 10px;
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
}

.top-games img {
    width: 150px;
    border: 2px solid #DAA520;
    border-radius: 16px;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
}

.quote {
    background-color: #E5E7EB;
    height: 400px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.quote-txt {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    text-align: justify;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.quote-author {
    color: #1F2937;
    font-size: 30px;
    font-style: italic;
    text-align: end;
    margin-right: 150px;
    padding: 0;
    flex-shrink: 0;
}

.inscription {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.insc-box {
    margin: 50px 200px;
    padding: 50px;
    background-color: #DAA520;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-insc {
    width: 900px;
}

.insc-title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}

.insc-txt{
    text-align: justify;
    width: 700px;
}

.insc-button {
    border-radius: 16px;
    border: 1px solid #1F2937;
    height: 50px;
    font-size: large;
}

footer {
    height: 70px;
    justify-content: center;
}

footer img {
    width: 25px;
    padding: 5px;
}